  
  <div class="d-flex flex-column flex-md-row-reverse align-items-center">
    <img src="assets/images/laptop.png" class="img-size hidden md:inline">
    <div class="d-flex flex-column align-items-center justify-content-md-start align-items-md-start  py-4">
      <h1 class="intro-title">Hi, I am Muhammad Mujtaba,</h1>
      <h1 class="intro-title">Full-Stack Developer</h1>
      <p class="intro-description text-center text-md-start px-1">Full Stack JavaScript Developer with a strong proficiency in both front-end and back-end development. With a solid foundation in HTML, CSS, and JavaScript, I specialize in using popular frameworks such as Angular for front-end development. On the back end, I have expertise in Node.js and Express.js, along with experience in working with databases like MongoDB and MySQL.</p>
      <button class="intro-btn">Contact Me</button>
    </div>
  </div>