
.intro-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.intro-body {
    align-items: center;
}

.intro-title {
    font-style: normal;
    font-weight: 700;
    color: var(--main-text-color);
}

.intro-description {
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    line-height: 24px;
    color: var(--main-text-color);

}

.intro-btn {
    background: var(--main-text-color);
    border-radius: 2px;
    width: 208px;
    height: 47px;
    color: var(--main-color);
    border: none;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 29px;
}

.img-size{
    height: 500px;
    width: 500px;
}

.custom-bounceInLeft {
    animation: bounceInLeft  1s;
}
.custom-bounceInRight {
    animation: bounceInDown  1s;
}

.img_sec{
    box-shadow: 20px 20px 4px rgba(0, 0, 0, 0.3);
}

.bg-main-text{
    background-color: var(--main-text-color);
}

.max-w-40{
   width: 40%;
}


  