.section-title {
    color: white;
}

.bg-main-color {
    background-color: var(--main-text-color);
}

.bg-secondary-color {
    background-color: var(--main-color);
}

.color-main {
    color: var(--main-text-color);
}

.color-sec {
    color: var(--main-color);
}

.intro-title {
    font-style: normal;
    font-weight: 700;
}

.max-w-40 {
    width: 40%;
}

.img-icon{
    width: 100px;
    height: 100px;
}

.custom-fadeInLeft {
    animation: fadeInLeft 1s;
}