<div class="container d-flex align-items-center">
    <!-- <h1 class="text-xl section-title mb-4 align-self-start">Skills</h1> -->
    <div class="row row-cols-auto align-items-center justify-content-center container gap-3">
        <div class="shadow-sm p-1 rounded">
            <img src="assets/images/angular.png">
        </div>
        <div class="shadow-sm p-1 rounded">
            <img src="assets/images/bootstrap.png">
        </div>
        <div class="shadow-sm p-1 rounded">
            <img src="assets/images/css.png">
        </div>
        <div class="shadow-sm p-1 rounded">
            <img src="assets/images/html.png">
        </div>
        <div class="shadow-sm p-1 rounded">
            <img src="assets/images/nodejs.png">
        </div>
        <div class="shadow-sm p-1 rounded">
            <img src="assets/images/sql-server.png">
        </div>
        <div class="shadow-sm p-1 rounded">
            <img src="assets/images/js.png">
        </div>

    </div>
</div>