<div class="container">
    <app-navbar></app-navbar>
    <div class="d-flex flex-column">
        <h1 class="card-title text-3xl">{{item.title}}</h1>
        <div class="d-flex gap-5 align-items-center my-2">
            <p class="card-bage rounded-pill p-2 text-xs">{{item.projectType}}</p>
            <p class="card-des text-xs">{{item.intro}}</p>
        </div>
        
        <p>
            {{item.description}}
        </p>
        <img [src]="item.images[0]" class="h-48 md:h-96 align-self-center">
        <div class="my-2">
            <span class="fw-bold">Technology Stack:  </span>
            <ul>
                <li *ngFor="let element of item.techStack">
                 <div class="d-flex gap-2 align-items-center">
                     <svg class="w-3.5 h-3.5 mr-2 text-green-500 dark:text-green-400 flex-shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                         <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z"/>
                      </svg>
                      <div>
                          <span class="">{{element.name | titlecase}}</span>
                      </div>
                 </div>
                </li> 
             </ul>
        </div>
        <div class="bg-slate-200 my-2 d-flex align-items-center flex-column justify-content-sm-center gap-4 rounded flex-sm-row p-1">
                <img *ngFor="let img of item.techStack" [src]="img.img" class="align-self-center">
        </div>
        <p >{{item.heading2}}</p>
        <p class="m-0">This application had following features:</p>
        <ul>
           <li *ngFor="let point of item.points">
            <div class="d-flex gap-2 align-items-center">
                <svg class="w-3.5 h-3.5 mr-2 text-green-500 dark:text-green-400 flex-shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                    <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z"/>
                 </svg>
                 <div>
                     <span class="fw-bold">{{point.key}}: </span>
                     <span class="">{{point.value}}</span>
                 </div>
            </div>
           </li> 
        </ul>


        
<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 bg-slate-200 p-3">
    <div *ngFor="let img of item.images">
        <img class="h-auto max-w-full rounded-lg" [src]="img" alt="">
    </div>
</div>

        

    </div>
</div>