<div class="border border-dark">
    <h1 class="text-center">Send me a Message!</h1>
    <p class="text-center">
        Have a question, proposal, or just want
        to say hello? Go ahead and reach out!
    </p>
    <form class="d-flex">
        <div class="d-flex gap-2 mx-2 flex-fill">
            <div class="d-flex flex-column flex-fill">
                <label>Your Name:</label>
                <input type="text" placeholder="helo" class="border form-control">
            </div>
            <div class="d-flex flex-column flex-fill">
                <label>Your Name:</label>
                <input type="text" placeholder="helo" class="border form-control">
            </div>

        </div>
        <div class="mx-2 flex-fill">
            <label>Your Message:</label>
            <textarea type="text" placeholder="helo" class="border form-control"></textarea>
        </div>
        <button class="btn btn-primary flex-fill">Send</button>
    </form>

</div>