<div class="d-flex flex-column gap-2 flex-md-row bg-main-color align-items-start align-items-md-center px-2">
  <div class="d-flex flex-column align-items-start justify-content-md-start py-4">
      <div class="max-w-40 bg-secondary-color h-2 mt-1 mb-4 "></div>
      <h1 class="intro-title text-start color-sec">Project Features</h1>
    </div>
    <div class="d-flex flex-column flex-sm-row align-items-center justify-content-center w-100 container py-5">
        <div  class="row row-cols-auto row-cols-lg-5 g-2 g-lg-3 justify-content-center justify-content-lg-start">
          <div class="card mx-1" style="width: 18rem;" *ngFor="let ele of item;let i = index">
            <div class="card-body">
              <h1 class="py-1 px-2 fw-bold color-sec text-center">0{{i+1}}</h1>
            <h5 class="mx-2 fw-bold color-sec text-center border-bottom pb-1">{{ele.key}}</h5>
              <p class="card-text color-sec">{{ele.value}}</p>

            </div>
          </div>
        </div>
    </div>  
</div>
