.navbar>.container {
    justify-content: flex-end;
    padding: 0;
}

.navbar-expand-lg .navbar-collapse {
    justify-content: flex-end;
}

.navbar-toggler {
    border: none;
}

.collapse{
    visibility: visible;
}

.nav-item{
    cursor: pointer;
}

.nav_border:hover{
    border-bottom: 2px solid #FF6464;
}
.active{
    color: black;
    border-bottom: 2px solid #FF6464;
}
