.bg-sec-color{
    background-color: var(--main-text-color);
}
.bg-main-color{
    background-color: var(--main-color);
}
.sec-color{
    color: var(--main-text-color);
}
.main-color{
    color: var(--main-color);
}
.max-w-40 {
    width: 40%;
}

.section-title {
    color: var(--main-dark-blue);
}

.card-title {
    font-weight: 700;
    color: (--main-dark-blue);
}

.card-bage {
    font-weight: 900;
    background: var(--main-medium-blue);
    color: white;
}

.card-des {
    /* color: var(--main-text-gray); */
    font-weight: 400;
    text-align: left;

}

.card-text {
    font-weight: 400;

}

.card-container:hover {
    transform: scale(.99);
    box-shadow: 0 10px 20px rgba(0, 0, 0, .12), 0 4px 8px rgba(0, 0, 0, .06);
    cursor: pointer;
}

.card-container {
    cursor: pointer;
    box-shadow: 0 6px 10px rgba(0, 0, 0, .08), 0 0 6px rgba(0, 0, 0, .05);
    transition: .3s transform cubic-bezier(.155, 1.105, .295, 1.12), .3s box-shadow, .3s -webkit-transform cubic-bezier(.155, 1.105, .295, 1.12);
}

.card-container {
    border: 1px solid var(--main-color);
} 